* {
  margin: auto;
  text-align: center;
}

html,
body {
  background-color: #d1f2eb;
}
h1 {
  text-align: center;
  font-size: 70px;
  margin-top: 1rem;
  margin-bottom: 4rem;
  text-shadow: 2px 2px 5px gray;
  color: white;
}
td {
  width: 130px;
  height: 130px;
  margin-top: auto;
  margin-bottom: auto;
}

table {
  display: none;
}

tbody,
#game-text-box {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}
td:nth-child(2) {
  border-right: solid 2px black;
  border-left: solid 2px black;
}

tr:first-child > td {
  border-bottom: solid 2px black;
}

tr:nth-child(2) > td,
tr:first-child > td {
  border-bottom: solid 2px black;
}

.empty-cell:hover {
  background-color: yellow;
  cursor: pointer;
}

.fa-regular {
  margin: auto;
}

#game-text-box {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px black solid;
  border-radius: 7px;
  max-width: fit-content;
  font-size: x-large;
  padding: 1rem;
  display: none;
}

#btn-play {
  padding: 1rem 2rem;
  font-size: 2.5rem;
}
